@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Englebert&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Englebert&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media screen {
  .div {
    background-color: red;
  }
}
@font-face {
  font-family: DM Sans;
  src: url("../../assets/fonts/DM_Sans/static/DMSans-Medium.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("../../assets/fonts/Poppins/Poppins-Medium.ttf");
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

.body {
  min-width: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-close-btn {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.popup-close-btn:active path {
  fill: #23262F;
}

.popup-close-btn:hover path {
  fill: #23262F;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hide {
  display: none;
}

.popup {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.popup-image-side {
  width: 480px;
  height: 576px;
}
.popup-image-side img {
  width: 100%;
  height: 100%;
  border: 10px solid #05DBF3;
  border-radius: 20px;
}

.popup-close-btn:target .popup {
  left: 100%;
}

.popup-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Poppins;
  height: 100%;
  width: 100%;
  background: var(--Neutrals-8, #FCFCFD);
  overflow: scroll;
}

.popup-info-side__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 16px;
}
.popup-info-side__title h1 {
  border-radius: 100px;
  font-family: Poppins;
  padding: 2px 12px;
  background-color: #05DBF3;
  color: #033E8C;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
}

.booking-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px 0;
}
.booking-details__title {
  color: var(--Neutrals-2, #23262F);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px; /* 160% */
}
.booking-details__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px 0;
}
.booking-details__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 8px;
}
.booking-details__trip-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px 0;
}
.booking-details__trip-plan--ticket-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  background: var(--light-blue1, #05DBF3);
}
.booking-details__ticket-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
}
.booking-details__ticket-data {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 16px;
  padding: 12px;
}
.booking-details__ticket-data--text-block p:first-child {
  color: var(--dark-blue1, #033E8C);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
.booking-details__ticket-data--text-block p:last-child {
  color: var(--dark-blue1, #033E8C);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.booking-details__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px 0;
}
.booking-details-price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.booking-details-price-list p:first-child {
  color: var(--Neutrals-4, #777E90);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.booking-details__price-discount p:last-child {
  color: var(--Neutrals-2, #23262F);
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.booking-details__price-total p:last-child {
  color: var(--Neutrals-2, #23262F);
  text-align: right;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}

@media (max-width: 400px) {
  .container {
    margin: 0 24px;
  }
  .language__selector svg {
    display: none;
  }
  .language__selector p {
    display: none;
  }
  .nav__wishlist-btn {
    display: none;
  }
  .nav__ul li {
    display: none;
  }
  .nav__logo-logo {
    width: 48px;
    height: 43px;
  }
  .nav__logo-slogan {
    width: 109px;
  }
  .food__hero {
    margin-top: 40px;
  }
  .food__hero-item {
    text-align: center;
    padding: 18px 0px;
  }
  .food__hero-item h3 {
    font-family: "DM Sans", "Montserrat";
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
  .sidebar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: inherit;
    overflow-y: hidden;
    overflow-x: inherit;
    margin-bottom: 40px;
  }
  .food__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products {
    margin-left: 15px;
  }
  .footer__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__item-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  .footer__navigations {
    gap: 0;
  }
}
@media (min-width: 1000px) {
  .products {
    margin-left: 40px;
  }
}
.navigation {
  background: -webkit-gradient(linear, left top, right top, from(#033e8c), to(#05dbf3));
  background: linear-gradient(90deg, #033e8c 0%, #05dbf3 100%);
}

nav {
  padding-top: 9px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 36px;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.nav__ul li a {
  color: #fcfcfd;
  text-decoration: none;
  font-family: DM Sans, "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.nav__ul li a:hover {
  color: #033E8C;
}

.nav__select {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fcfcfd;
}

.language__selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.nav__wishlist-btn {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 12px 16px;
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  background: transparent;
  color: #fcfcfd;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 12px;
}

.mobile__nav-svg {
  display: none;
}

.food__hero {
  margin-top: 100px;
  margin-bottom: 80px;
  background: var(--dark-blue1, #033e8c);
  border-radius: 16px;
}
.food__hero-item {
  padding: 30px 18px 30px 18px;
}
.food__hero-item h3 {
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: var(--Color, #fcfcfd);
  margin-bottom: 20px;
}
.food__hero-item p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--light-blue1, #05dbf3);
  max-width: 544px;
}

.sidebar__all {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fcfcfd;
  background: var(--light-blue1, #05dbf3);
  padding: 6px 16px;
  border-radius: 100px;
  max-width: 50px;
  margin-bottom: 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar__all:hover {
  background: var(--light-blue1, #03c8de);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.sidebar__item {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 6px 16px;
  color: #777e90;
  margin-bottom: 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar__item:hover {
  color: #5a5c60;
}

.sidebar--active-btn {
  color: #fff;
  border-radius: 100px;
  background-color: #03c8de;
}

.region__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.region__btns1 {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fcfcfd;
  background: var(--light-blue1, #05dbf3);
  padding: 6px 16px;
  border-radius: 100px;
  margin-bottom: 24px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.region__btns1:hover {
  background: var(--light-blue1, #03c8de);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.region__btns2 {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 6px 16px;
  color: #777e90;
  margin-bottom: 24px;
  background-color: white;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.region__btns2:hover {
  color: #5a5c60;
}

.products-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}

.food__card {
  max-width: 288px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.food__card img {
  border-radius: 16px;
  margin-bottom: 20px;
}
.food__card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 22px;
  padding-bottom: 36px;
  border-bottom: 1px solid #e6e8ec;
}
.food__card-title h2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #23262f;
}
.food__card-title p {
  font-family: Poppins;
  font-size: 14px;
  color: #777e90;
}
.food__card-price {
  margin-top: 12px;
  margin-bottom: 20px;
}
.food__card-price p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #777e90;
}

.food__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show__more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding: 16px 24px;
  margin: 0 auto;
  border: none;
  border-radius: 90px;
  background: var(--light-blue1, #05dbf3);
  color: #fcfcfd;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 76px;
  margin-top: 48px;
}
.show__more-btn:hover {
  cursor: pointer;
}

.plan__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.plan__search ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.plan__search-all {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fcfcfd;
  background: var(--light-blue1, #05dbf3);
  padding: 6px 16px;
  border-radius: 100px;
  max-width: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.plan__search-all:hover {
  background: var(--light-blue1, #03c8de);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.plan__search-item {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 6px 16px;
  color: #777e90;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.plan__search-item.active-btn {
  color: #FCFCFD;
  background-color: #05DBF3;
  border-radius: 50px;
}
.plan__search-item:hover {
  color: #5a5c60;
}

.hero-title {
  margin-top: 100px;
  margin-bottom: 40px;
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.02em;
}

.plan__hero-input {
  position: relative;
}
.plan__hero-input input {
  padding: 16px 150px 16px 50px;
  font-family: Poppins;
  font-size: 14px;
  border-radius: 100px;
  outline: none;
  color: #5a5c60;
  border: 2px solid #e6e8ec;
}
.plan__hero-input svg {
  position: absolute;
  left: 22px;
  top: 18px;
  cursor: pointer;
}

.hide {
  display: none;
}

.booking__cards {
  padding: 40px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px 0;
}
.booking__card {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 16px;
  border-radius: 16px;
  background: var(--Neutrals-8, #FCFCFD);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(15, 15, 15, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(15, 15, 15, 0.25);
}
.booking__card.hide {
  display: none;
}
.booking__card-general {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.booking__card-text-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px 0;
}
.booking__card-title {
  color: var(--Neutrals-2, #23262F);
  /* Body 2 (bold) */
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
}
.booking__card-address {
  color: var(--Neutrals-4, #777E90);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
}
.booking__card-price {
  color: var(--Neutrals-2, #23262F);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
}
.booking__card-btn-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 0 8px;
}
.booking__card-btn-block div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 0 8px;
}
.booking__card-btn-message:hover {
  cursor: pointer;
}
.booking__card-btn-message {
  padding: 12px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #E6E8EC);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.booking__card-btn-details:hover {
  cursor: pointer;
  background: var(--light-blue1, #047380);
}
.booking__card-btn-details {
  padding: 16px 24px;
  color: var(--Neutrals-8, #FCFCFD);
  text-align: center;
  /* Button 1 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  border-radius: 90px;
  background: var(--light-blue1, #05DBF3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer {
  background: -webkit-gradient(linear, left top, right top, from(#033e8c), to(#05dbf3));
  background: linear-gradient(90deg, #033e8c 0%, #05dbf3 100%);
}

.footer__item {
  width: 100%;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #fcfcfd;
}
.footer__item-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 110px;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
}
.footer__nav-title {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fcfcfd;
}
.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer__nav ul a {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--Color, #fcfcfd);
}
.footer__navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 110px;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.footer__input {
  padding: 14px 50px 14px 16px;
  font-family: Poppins;
  font-size: 14px;
  color: white;
  border-radius: 90px;
  background: transparent;
  outline: none;
  border: 2px solid #fcfcfd;
}
.footer__input::-webkit-input-placeholder {
  color: #fcfcfd;
}
.footer__input::-moz-placeholder {
  color: #fcfcfd;
}
.footer__input:-ms-input-placeholder {
  color: #fcfcfd;
}
.footer__input::-ms-input-placeholder {
  color: #fcfcfd;
}
.footer__input::placeholder {
  color: #fcfcfd;
}

.email-input {
  position: relative;
}
.email-input button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(255, 255, 255, 0.2); /* Light transparent button */
  border: none;
  outline: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.email-input button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.email-input button:hover svg {
  stroke: #fafafa;
}

.footer__copyright {
  padding: 24px 0;
  max-width: 111px;
  margin: 0 auto;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--Color, #fcfcfd);
}